/* // style the css here.  */

*{
margin: 0; 
padding: 0;
}


body {
    height: 100vh; 
    display: flex; 
    justify-content:center ; 
    align-items:center; 
    font-family:sans-serif; 
    background:#131829;
    color:white; 
}

#title{
     width: 600px; 
    height: 20px;
        display: flex;
        /* background-color: #d67c7c; */
        /* align-items: center; */
        justify-content: center;
        font-size: 2rem;
}


#circle {
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    border: 5px solid #d67c7c; 
    display: flex;
    justify-content: center;
    align-items: CENTER;
    margin: 20px auto;
    transition: background-color 0.3s ease-out;

}

#letter {

  font-size: 10rem;

  font-weight: bold;

  color: rgb(197, 16, 16);

}

#circle.correct {

  background-color: #000034;

}

#circle.incorrect {

  background-color: #5a0045;

}


#letter {

  color: white;

}


#scoreCard{
         width: 600px; 
    height: 100px;
    margin: 3rem;
        display: flex;
        background-color: #6d0b0b;
        /* align-items: center; */
        justify-content: center;
        font-size: 2rem;
}



#footer{
         width: 600px; 
    height: 100px;
    margin: 3rem;
        display: flex;
        background-color: #6d0b0b;
        /* align-items: center; */
        justify-content: center;
        font-size: 2rem;
}